/* estilos body */
body {
  font-family: 'Inter', sans-serif;
  background: #121212;
  color: white;
  margin: 0;
  padding: 0;
}

/* Estilos del menú */
.menu-spotify {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 85%;
  max-width: 350px;
  margin: 45px auto;
  text-align: center;
}

/* Botón de REGISTRO (verde Spotify) */
.btn-registro {
  padding: 14px;
  border-radius: 30px;
  border: none;
  background: #1db954;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-registro:hover {
  background: #1ed760;
}

/* Botón de LOGIN (borde blanco/gris estilo Spotify) */
.btn-login {
  padding: 14px;
  border-radius: 30px;
  background: transparent;
  color: white;
  border: 2px solid #b3b3b3;
  font-size: 1.1rem;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s ease;
}

.btn-login:hover {
  border-color: white;
  color: white;
}

/* Estilo de imagenes */
img {

  align-items: center;
  width: 120px;
  margin: auto;
}

/* Contenedor usuarios */
#seccion-usuarios {
  max-width: 430px;
  margin: 40px auto;
  padding: 25px;
  background: #1a1a1a;
  border-radius: 18px;
  box-shadow: 0 0 15px rgba(0,0,0,0.5);
}

/* Título */
#titulo-usuarios {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 25px;
  color: #fff;
}

/* labels */
#user-form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #ccc;
}

/* inputs */
#user-form input {
  width: 100%;
  padding: 12px;
  border-radius: 10px;
  border: none;
  background: #2a2a2a;
  color: white;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

#user-form input:focus {
  background: #333;
  border: 1px solid #1db954; 
}

/* botón principal */
#user-form button {
  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #1db954; 
  border: none;
  border-radius: 10px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

#user-form button:hover {
  background: #1db954;
}

/* Texto de mensajes */
#mensaje {
  text-align: center;
  margin-top: 15px;
  font-weight: 600;
}


/* Estilos del login y registro */
#formulario {

  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
  max-width: 500px;
  margin: 60px auto;
  padding: 25px;
}

#login-form input {

  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  height: 40px;
  width: 300px;
  border-style: ridge;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 6px;
  font-weight: 600;
  background: #121212;
  border-radius: 6px;
  color: #ccc;
}

#registro-form input {

  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  height: 40px;
  width: 300px;
  border-style: ridge;
  border-width: 2px;
  border-color: #ccc;
  border-radius: 6px;
  font-weight: 600;
  background: #121212;
  border-radius: 6px;
  color: #ccc;
}

#login-form input:hover {

  border-color: #ffffff;
}

#registro-form input:hover {

  border-color: #ffffff;
}

#login-form button {

  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #1db954; 
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

#registro-form button {

  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: #1db954; 
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  transition: 0.3s;
}

#login-form button:hover {
  background: #32d86c;
}

#registro-form button:hover {
  background: #32d86c;
}

#ir-registro {

  width: 100%;
  margin-top: 20px;
  padding: 14px;
  background: none; 
  border: none;
  border-radius: 30px;
  font-size: 1.1rem;
  font-weight: bold;
  color:#ccc;
  cursor: pointer;
  transition: 0.3s;
}

#ir-registro:hover {
  
  color:#ffffff;
}